.input {
          border: none;
          border-bottom: 1px #000 solid;
          outline: none;
          position: absolute;
          top: 5%;
          left: 50%;
          transform: translate(-50%, -50%);

}

.input::placeholder {
          position: relative;
          left: -2px
}

.container {
          width: 30%;
          color: #000;
          margin: auto;
          text-align: center;
          font-family: poo;
}

div {
          margin-top: 10%;
          margin-top: 70px;
}